* {
  padding: 0;
  margin: 0;
  font-family: sans-serif, "Roboto";
}

/* Box-search */

.box-search {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  align-items: center;
  margin: 10px;
  padding: 14px 10px;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box-search-icon {
  width: auto;
  height: 30px;
}

button {
  background: none;
  border: none;
}

input {
  border: none;
  font-size: 20px;
  padding: 0 0 0 10px;
}

/* end box-search */

.label-utama {
  margin: 30px 10px;
  letter-spacing: 1px;
}

/* massage-box */

.massage-box {
  display: grid;
  margin: 0 10px 20px 10px;
  font-size: 14px;
  grid-template-columns: 0.3fr 1fr 0.2fr;
}

.massage-box-profile-icon {
  width: auto;
  height: 60px;
}

.heading-massage-box {
  font-size: 18px;
  padding: 0 0 8px 0;
  font-weight: bold;
}

.desc-massage-box {
  font-size: 13.9px;
  padding: 0 0 8px 0;
  font-weight: bold;
}

.subdesc-massage-box {
  font-size: 14.8px;
  padding: 0 0 8px 0;
}

.time-massage-box {
  font-size: 16px;
}

.time-massage-box-star-icon {
  width: auto;
  height: 20px;
  padding-top: 29px;
  padding-left: 10px;
}

/* end-massage-box */

/* box-promosi */

.box-promosi {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.2fr;
  margin: 20px 10px;
}

.box-promosi-tag-icon {
  width: auto;
  height: 30px;
  padding-left: 8px;
}

.box-promosi h3 {
  margin: 0 0 15px 0;
}

.box-promosi h4 {
  margin: 0 0 6px 0;
}

.box-promosi p {
  font-size: 12.3px;
}

.notif-box-promosi {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  border-radius: 0px;
  height: fit-content;
  width: 53px;
  padding: 6px 0;
  border-radius: 20px;
  background-color: green;
}

/* end box promosi */

/* massage */
.navbar-massage {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr 0.3fr 0.3fr 0.3fr;
  align-items: center;
  border-bottom: solid 1px black;
}

.navbar-massage-icon {
  height: 20px;
}

.content-massage {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.desc-content-massage {
  font-size: 28px;
}

.desc-content-massage span {
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgb(223, 221, 221);
  padding: 6px 12px;
  margin: 10px;
}

.content-massage-star-icon {
  width: auto;
  height: 24px;
}

.content-massage-sender {
  display: grid;
  margin: 30px 10px;
  align-items: center;
  grid-template-columns: 0.4fr 1.6fr 0.2fr 0.2fr;
  gap: 10px;
}

.content-massage-profile-sender {
  color: white;
  border-radius: 100%;
  background-color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 24px;
}

.content-massage-date-sender {
  font-size: 14px;
  padding-left: 6px;
  font-weight: 100;
}

.content-massage-to-me {
  display: flex;
  justify-content: start;
  font-size: 16px;
  padding-top: 8px;
  align-items: center;
}

.content-massage-to-me-arrow-icon {
  height: 12px;
  padding-top: 6px;
  padding-left: 6px;
}

.heading-content-massage {
  padding: 30px 0 30px 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.heading-content-massage p {
  color: grey;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 100;
}

.heading-content-massage-logo {
  height: 30px;
}

.heading-content-massage-instagram {
  width: auto;
  height: 30px;
}

.subdesc-content-massage {
  padding: 0 10px 0 30px;
}

.subdesc-content-massage p {
  padding: 8px 0 0 0;
  font-size: 17px;
}

.subdesc-box-content-massage {
  margin-top: 30px;
  padding: 2px 0;
  background-color: turquoise;
  font-weight: 700;
  font-size: 14px;
  color: white;
  text-align: center;
  border-radius: 2px;
  width: 330px;
  height: 40px;
}

.subdesc-box-content-massage p {
  padding: 10px 0;
}

.primarydesc-content-massage {
  margin: 40px 30px 0 30px;
  font-size: 15px;
}

.primarydesc-content-massage span {
  padding: 0;
  color: blue;
}

.primary-desc2-content-massage {
  margin-top: 14px;
  color: blue;
}

.descend-content-massage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: gray;
  font-size: 10px;
  padding: 20px 50px 0px 50px;
}

.descend-content-massage span {
  padding: 0 2px;
  text-decoration: underline gray;
}

.descend-content-massage h6 {
  margin: 0px 0 12px 0;
  font-size: 8px;
  font-weight: 800;
  color: black;
}

.subdescend-content-massage {
  margin-top: 10px;
}

.flex-end-content-massage {
  padding: 100px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.flex-end-box-content-massage {
  border: solid 1px gray;
  padding: 10px 20px;
  border-radius: 4px;
  height: 60px;
  font-size: 14px;
}

.flex-end-box-desc-content-massage {
  padding-top: 12px;
}

.flex-end-box-desc1-content-massage {
  padding-top: 4px;
}

/* end massage */

/* user */

.heading-user {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.heading-user-close-icon {
  width: auto;
  height: 20px;
}

.heading-user-google-image {
  height: auto;
  width: 80px;
}

.account-user {
  margin: 30px 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 0.3fr 1fr 0.2fr;
}

.account-user-profile {
  background-position: center;
  background-size: cover;
  height: auto;
  border-radius: 100%;
  border: transparent;
  height: 60px;
  width: 60px;
  background-image: url(../public/profile.png);
}

.account-user-profile img {
  background-color: rgb(255, 255, 255);
  display: flex;
  float: right;
  margin-top: 40px;
  font-size: 11px;
  height: 30px;
  padding: 0px;
  color: wheat;
  border-radius: 20px;
}

.account-user-desc {
  font-size: 16px;
  padding-top: 10px;
}

.account-user-notification {
  font-size: 16px;
}

.account-user-box-setting {
  padding: 14px 20px;
  border: solid 1px grey;
  color: rgb(56, 53, 53);
  margin-left: 90px;
  margin-bottom: 30px;
  width: fit-content;
  font-size: 14px;
  text-align: center;
  border-radius: 28px;
}

.account-user-next {
  padding: 30px 30px 0 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 0.3fr 1fr 0.2fr;
  border-top: solid 1px black;
}

.account-user-button {
  margin: 28px 0 0px 30px;
  display: grid;
  position: relative;
  gap: 20px;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
}

.account-user-button-icon {
  width: auto;
  height: 30px;
  padding-left: 14px;
}

.account-user-button-desc {
  font-size: 18px;
  padding-left: 10px;
}

.account-user-flex-end {
  display: flex;
  margin: 20px 0 0 0;
  border-top: solid 1px black;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 14px;
  justify-content: space-around;
}

/* end user */

.user1 img {
  padding-top: 8px;
}

.end-user {
  display: flex;
  margin: 20px 0 0 0;
  border-top: solid 1px black;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 12px;
  justify-content: space-around;
}

/* massage */

/* sidebar */

.sidebar {
  position: fixed;
  left: -340px;
  width: 340px;
  top: -0px;
  height: auto;
  padding: 0;
  color: black;
  background: #ffff;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sidebar header {
  font-size: 20px;
  background-color: white;
  padding: 18px 0 18px 20px;
  color: #ca322b;
  border-bottom: solid 1px #eeeeee;
  user-select: none;
}

.semua-kotak-masuk {
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #eeeeee;
}

.semua-kotak-masuk a {
  padding: 0px;
}
.semua-kotak-masuk :hover {
  background-color: #fce8e7;
  color: #d83227;
  border-radius: 0px;
}

li.utama {
  margin-top: 0;
}

.utama {
  margin-top: 10px;
  padding-top: 10px;
  margin-right: 10px;
}

.utama :hover {
  background-color: #fce8e7;
  color: #d83227;
  border-radius: 0px;
}

.sosial {
  margin-right: 10px;
}

.sosial :hover {
  border-radius: 0px;
  background-color: #e8f0fd;
  color: #196bc8;
}

.promosi {
  margin-right: 10px;
}

.promosi :hover {
  background-color: #e7f4ea;
  border-radius: 0px;
  color: #207b3b;
}

.semua-label {
  margin: 22px 0;
  letter-spacing: 2px;
  font-size: 16px;
  padding-left: 20px;
}

.setelan {
  border-top: solid 1px black;
}

ul {
  margin: 0;
}

i {
  margin-top: 6px;
}

.sidebar ul a {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 18px;
  font-weight: 550;
  color: #37383a;
  text-decoration: none;
  padding-left: 20px;
  box-sizing: border-box;
  transition: 0.4s;
}

ul li:hover a {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: rgb(190, 189, 189);
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn {
  left: 30px;
  top: 7px;
  font-size: 35px;
  color: red;
  padding: 6px 12px;
  background: none;
  transition: all 0.5s;
}

label #cancel {
  z-index: 111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

ul {
  padding: 0;
}

/* sidebar */

.button-add {
  background-color: rgb(97, 68, 68);
  border-radius: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  margin: 10px;
  left: 326px;
}

/* add */

.navbar-add {
  display: grid;
  margin: 20px 10px;
  align-items: center;
  grid-template-columns: 0.2fr 1fr 0.3fr 0.3fr 0.2fr;
}

.desc-navbar-add {
  font-size: 30px;
  padding-left: 30px;
}

.box-add {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
  font-size: 22px;
  border-bottom: solid 1px gray;
}

.box-add input {
  border: none;
  padding: 0;
}

input.box-write-add {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 22px;
}

/* end add */
